@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade {
    animation: fade 2s infinite alternate;
}

@keyframes fade {
    0% {
        content: url('../assets/find_a_game_logo_black.svg');
    }
    50% {
        content: url('../assets/find_a_game_logo_blue.svg');
    }
    100% {
        content: url('../assets/find_a_game_logo_black.svg');
    }
}